
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
.venv/
env/
venv/

# Logs and data
*.log
*.csv

# System files
.DS_Store
Thumbs.db

# IDE config
.vscode/
.idea/

# Docker
*.pid
